// -------------------------------------
// =alignments
// -------------------------------------

.alignleft,
%alignleft
{
  text-align: left;
}

.aligncenter,
%aligncenter
{
  text-align: center;
}

.alignright,
%alignright
{
  text-align: right;
}
