// -------------------------------------
// =media-queries
// -------------------------------------

/**
 * Allows you to use named media queries based on breakpoints list in _variables.scss
 * The "generate-grid-classes" value is ignored here
 */

@mixin mq($breakpoint)
{
	@if map-has-key($breakpoints-list, $breakpoint)
	{
		// get query for breakpoint
		$breakpoint-params: map-get($breakpoints-list, $breakpoint);
		$breakpoint-query: map-get($breakpoint-params, query);

		// generate media query
		@media #{$breakpoint-query} { @content; }
	}
	@else
	{
		@warn "Could not find a breakpoint named #{$breakpoint} in $breakpoints-list";
	}
}


// -------------------------------------
// =font sizes in rems w/ fallback
// -------------------------------------

@mixin rem-size($target, $context:16)
{
	@if (unitless($target) == false)
	{
		@error "rem-size mixin requires a unitless value as parameter";
	}

	$pixels: $target * 1px;
	$rems: $target / $context * 1rem;

	font-size: $pixels;
	font-size: $rems;
}
