<footer class="pagefooter">
  <div class="container  clearfix">

    <nav>
      <ul class="footernav" id="footernav">
        <li class="footernav__item"><a href="/">Home</a></li><!--
     --><li class="footernav__item"><a href="/about.html">A propos</a></li><!--
     --><li class="footernav__item"><a href="/notaires.html">Notaires</a></li><!--
     --><li class="footernav__item"><a href="/collaborateurs.html">Collaborateurs</a></li><!--
     --><li class="footernav__item"><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>

    <p class="footercopy">&copy; Nisaba 2015 - Tous droits réservés</p>

  </div>
</footer>
