<header class="pageheader">
  <div class="container  clearfix">

    <p class="logo"><a href="/"><img src="/img/logo.svg" width="102" height="20" alt="Nisaba: Services Juridiques"></a></p>

    <p class="headernav-compact"><a class="js-navlink" href="#footernav">{% include inline_svgs/icon_mainnav.svg %}</a></p>

    <nav>
      <ul class="headernav">
        <li class="headernav__item{% if page.navCurrent == 'about' %}  headernav__item--current{% endif %}"><a href="/about.html">A propos</a></li><!--
     --><li class="headernav__item{% if page.navCurrent == 'notaires' %}  headernav__item--current{% endif %}"><a href="/notaires.html">Notaires</a></li><!--
     --><li class="headernav__item{% if page.navCurrent == 'collaborateurs' %}  headernav__item--current{% endif %}"><a href="/collaborateurs.html">Collaborateurs</a></li><!--
     --><li class="headernav__item{% if page.navCurrent == 'contact' %}  headernav__item--current{% endif %}  headernav__item--contact"><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>
