<header class="pageheader">
  <div class="container  clearfix">

    <p class="logo"><a href="/"><img src="/img/logo.svg" width="102" height="20" alt="Nisaba: Services Juridiques"></a></p>

    <p class="headernav-compact"><a class="js-navbutton" href="#footernav">{% include inline_svgs/icon_mainnav.svg %}</a></p>

    <nav>
      <ul class="headernav">
        <li class="headernav__item"><a href="about.html">A propos</a></li><!--
     --><li class="headernav__item"><a href="fake.html">Notaires</a></li><!--
     --><li class="headernav__item"><a href="fake.html">Collaborateurs</a></li><!--
     --><li class="headernav__item  headernav__item--contact"><a href="fake.html">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>
