// -------------------------------------
// =layout main
// -------------------------------------

/**
 * Layout in horizontal slices in a "page"
 *
 * .page: creates a visual page at large screen sizes
 * .pagecontent: creates the gradient under the header
 * .content-module: handles spacing between content modules (variants for colors)
 * .container is centering things and uses max-width to contrain content
 */

.page
{
  padding: 0;
  margin: 0 auto;
  max-width: 1500px;
  background: #fff;

  @include mq(xxlarge)
  {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 0.25em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.container
{
  padding: 0 percentage(40/1000);
  margin: 0 auto;
  max-width: 920px;
}

.pagecontent
{
  padding: 1px 0;
  background: url(../img/bkg_gradient_large.png) top left repeat-x;
}

.content-module
{
  margin-top: calc-em(60);
  margin-bottom: calc-em(60);

  @include mq(medium)
  {
    margin-top: calc-em(80);
    margin-bottom: calc-em(80);
  }

  @include mq(large)
  {
    margin-top: calc-em(120);
    margin-bottom: calc-em(120);
  }
}

/**
 * padded variation
 */

 .content-module--padded
 {
   padding-top: calc-em(60);
   padding-bottom: calc-em(60);

   @include mq(medium)
   {
     padding-top: calc-em(80);
     padding-bottom: calc-em(80);
   }

   @include mq(large)
   {
     padding-top: calc-em(120);
     padding-bottom: calc-em(120);
   }
 }


/**
 * color variations
 */

 .content-module--highlight
 {
   background-color: $color-brand-main1;
 }

 .content-module--dark
 {
   background-color: $color-brand-main4;
 }
