// -------------------------------------
// =intro blocks
// -------------------------------------

.introblock
{
  @include mq(medium)
  {
    margin-right: 40%;
  }
}

.introblock--center
{
  @include mq(medium)
  {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }
}
