// -------------------------------------
// =base
// -------------------------------------

html
{
  font: normal 100%/1.5 $fontstack-main;
}

// -------------------------------------
// =titles
// -------------------------------------

%title
{
  font-weight: 600;
  font-family: $fontstack-alt;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: $color-neutral8;
}

.h1
{
  @extend %title;
  margin-bottom: 0.5em;
  @include rem-size(24);

  @include mq(medium)
  {
    @include rem-size(32);
  }

  @include mq(large)
  {
    @include rem-size(36);
  }
}

.h1--light
{
  color: #fff;
}

.h2
{
  @extend %title;
  margin-bottom: 0.5em;
  @include rem-size(18);

  @include mq(medium)
  {
    @include rem-size(24);
  }
}

.h3
{
  @extend %title;
  line-height: 1.5;
  margin-bottom: 0.75em;
  @include rem-size(16);

  @include mq(medium)
  {
    @include rem-size(18);
  }
}

// -------------------------------------
// =text styles
// -------------------------------------

.intro
{
  font-weight: 400;
  font-family: $fontstack-main;
  @include rem-size(18);
  color: $color-brand-alt3;
}

.intro--light
{
  color: mix(#fff, $color-brand-alt3, 70%);
}

.text-light
{
  color: $color-neutral3;
}

.text-small
{
  @include rem-size(14);
}

.text-xsmall
{
  @include rem-size(12);
}
