<!DOCTYPE html>
<html lang="fr" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Nisaba Templates</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic%7COpen+Sans:400,600,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/global.min.css">
  </head>
  <body>

    {{ content }}

    <script src="/js/nisaba.min.js"></script>

  </body>
</html>
